<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DebugControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.nozzlenaut.androidklipper.DEBUG_START_REAL" />
                <action android:name="dev.nozzlenaut.androidklipper.DEBUG_STOP" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
